.trailerModal
    margin: 3% 5%
    width: 90%
    height: 90%

.traileriframe
    width: 70%
    height: 80%
    margin-left: 14%

.trailerCloseButton
    margin-left: 84%

.trailerOuterBody
    height: 100%

.traileriframeBody
    height: 100%
