.flex
    display flex
    flex-direction: column

.header
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    height: 8vh
    //background linear-gradient(150deg, rgba(194,177,180,1) 10%, rgba(101,97,95,1) 54%);
    background: rgb(38, 32, 32)
    box-shadow 0px 0px 10px 1px grey 

.childPages
    width: 100vw
    min-height: 92vh
    //background: rgb(88, 87, 87)
    overflow: auto
    //background: rgb(62, 48, 48)
    background: linear-gradient(360deg, rgba(189,184,185,1) 0%, rgba(127,125,131,1) 0%, rgba(51,51,54,1) 0%);
    caret-color: rgb(0, 0, 0)
    overflow: hidden

.title
  color: rgb(212, 203, 203)
  font-weight: bolder
  font-size: 250%
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
  